$primaryColor: #003b6d; 
$secondaryColor:  #BDBDBD;
$accentColor: #6699cc;
$greyColor:  #676767;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;